@import "tailwindcss";

/* ============================= */
/* BASE RESET (WAJIB TAILWIND 4) */
/* ============================= */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-body);
  }
}

/* ============================= */
/* CPRN 2026 DESIGN TOKENS       */
/* ============================= */

@theme {
  /* warna aurora cprn */
  --color-aurora-primary: #0a7a3d;
  --color-aurora-secondary: #ff7c36;
  --color-aurora-accent: #1b5fd6;


  /* PRIMARY – Dark Green */
  --color-primary: #00923f;

  /* SECONDARY – orange */
  --color-secondary: #ff6600;

  /* ACCENT – blue */
  --color-accent: #0776ba;

  --color-accent-soft-1: #ffe3c7;
  --color-accent-soft-2: #ffcc9f;
  --color-accent-soft-3: #f7a248;
  --color-accent-hover: #ff7c36;

  /* NEUTRALS */
  --color-background: #ffffff;
  --color-surface: #f8fafc;
  --color-text-primary: #0f172a;
  --color-text-muted: #475569;
  --color-border: #cbd5e1;

  /* FONT FAMILY */
  --font-body: var(--font-body);
  --font-heading: var(--font-heading);

  /* TYPOGRAPHY SCALE */
  --text-h1: 2.5rem;
  --text-h2: 2rem;
  --text-h3: 1.5rem;
  --text-h4: 1.25rem;
  --text-body: 1rem;
  --text-small: 0.875rem;
}

/* ============================= */
/* UTILITIES                     */
/* ============================= */
@layer utilities {
  .heading-1 {
    font-family: var(--font-heading);
    font-size: var(--text-h1);
    font-weight: 700;
    line-height: 1.2;
  }

  .heading-2 {
    font-family: var(--font-heading);
    font-size: var(--text-h2);
    font-weight: 600;
    line-height: 1.25;
  }

  .heading-3 {
    font-family: var(--font-heading);
    font-size: var(--text-h3);
    font-weight: 600;
  }

  .heading-4 {
    font-family: var(--font-heading);
    font-size: var(--text-h4);
    font-weight: 500;
  }

  .body-text {
    font-family: var(--font-body);
    font-size: var(--text-body);
    line-height: 1.75;
  }

  .text-small {
    font-family: var(--font-body);
    font-size: var(--text-small);
  }
}


@keyframes aurora {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.aurora-bg {
  background-image:
    radial-gradient(
      at 20% 30%,
      color-mix(in srgb, var(--color-aurora-secondary) 60%, transparent),
      transparent 60%
    ),
    radial-gradient(
      at 80% 20%,
      color-mix(in srgb, var(--color-aurora-accent) 55%, transparent),
      transparent 60%
    ),
    radial-gradient(
      at 50% 80%,
      color-mix(in srgb, var(--color-aurora-primary) 50%, transparent),
      transparent 65%
    );

  background-size: 200% 200%;
  animation: aurora 18s ease-in-out infinite;
  filter: blur(80px);
  opacity: 0.55;
}
